<h1>Patient List</h1>
<h1>-------------------</h1>

<a href="/dentists/index"><input class="btn" type="submit" value="Home"  ></a>
<p> ---------------------------------------------- </p>
<br>
<br>

<a href="/patients/new"><input class="btn" type="submit" value="Create"  ></a> 

<br>
<br>

<% @patients.all.each do |p| %>
    <p>Name: <%= p.name %></p>
    <p>Address: <%= p.adress %></p>
    <p>Email: <%= p.email %></p>
    <p>Phone #: <%= p.phone %> </p>
    <p>Description <%= p.description %></p>
    
    <a href="/patients/<%=p.id%>/edit"><input class="btn" type="submit" value="Edit"  ></a>
    
    
        <form method="post" action="/patients/<%=  p.id %>">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete">
        </form>

    <p> ---------------------------------------------- </p>

    <% end %>

    <br>
    <br>
    <a href="/patients/new"><input class="btn" type="submit" value="Create"  ></a> 
    <br>
    <br>

    <a href="/dentists/index"><input class="btn" type="submit" value="Home"  ></a>