<h1>Patient's Info</h1>
<h1>-------------------</h1>

<% @patients.all.each do |p| %>
    <p>Name: <%= p.name %></p>
    <p>Address: <%= p.adress %></p>
    <p>Email: <%= p.email %></p>
    <p>Phone #: <%= p.phone %> </p>
    <p>Description <%= p.description %></p>
    <a href="/patients/edit"><input class="btn" type="submit" value="Edit"  ></a>
    <a href="/patients/delete"><input class="btn" type="submit" value="Delete"  ></a>
    <p> ---------------------------------------------- </p>

    <% end %>