<h1>Patient List</h1>
<a href="/patients/new"><input class="btn btn-primary" type="submit" value="Create"  ></a> 

    <br>
    <br>

    <% current_user.patients.each do |p| %>
    <div class=" my_header">
        <div class="row">
            <div class="col-6 col-md-4">
                <p>Name: <%= p.name %></p>
                <p>Address: <%= p.adress %></p>
                <p>Email: <%= p.email %></p> 
            </div>
            <div class="col-6 col-md-4">
                <p>Phone : <%= p.phone %> </p>
                <p>Description <%= p.description %></p>
            </div>
        </div>
    </div>       
    <div class=" my_header">
        <div class="row">
            <div class="col-6 col-md-4"> 
                <a href="/patients/<%=p.id%>/edit"><input class="btn btn-primary" type="submit" value="Edit"  ></a>                  
            </div>
            <div class="col-6 col-md-4">  
                <form method="post" action="/patients/<%=  p.id %>">
                    <input id="hidden" type="hidden" name="_method" value="DELETE">
                    <input type="submit" class="btn btn-primary" value="Delete">
                </form>
            </div>
        </div>
    </div>         
<p> ---------------------------------------------- </p>
<% end %>