<h1>Patient's Info</h1>
<h1>-------------------</h1>

<% @patients.all.each do |p| %>
    <p>Name: <%= p.name %></p>
    <p>Address: <%= p.adress %></p>
    <p>Email: <%= p.email %></p>
    <p>Phone #: <%= p.phone %> </p>
    <p>Description <%= p.description %></p>
    
    <a href="/patients/<%=p.id%>/edit"><input class="btn" type="submit" value="Edit"  ></a>
    
    
        <form method="post" action="/patients/<%=  p.id %>">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete">
        </form>

    <p> ---------------------------------------------- </p>

    <% end %>