<h1>Edit your profile!</h1>


<form action="/dentists/<%=@dentists.id%>" method="post">
    <h4>Name: <input type="text" class="form-control" placeholder="Name" name="dentists[name]" id="name" value="<%= @dentists.name %>"></h4>  
    <h4>Username: <input type="text" class="form-control" placeholder="Username" name="dentists[username]" id="username" value="<%= @dentists.username %>"></h4>  
    <h4>Email: <input type="text" class="form-control" placeholder="Email" name="dentists[email]" id="email" value="<%= @dentists.email %>"></h4>  
    <h4>Password: <input type="text" class="form-control" placeholder="Password" name="dentists[password]" id="password" value="<%= @dentists.password %>"></h4>  

    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="submit" class="btn btn-primary" id="Add" value="Submit" name="Add">
</form>
