<h1> Welcome <%= current_user.name %>, here is your account info </h1>

<% dentist = current_user %>
    <div class="my_header">
        <div class="row">
            <div class="col-6 col-md-4">
                <p>Name: <%= dentist.name %></p>
                <p>Username: <%= dentist.username %></p>
                <a href="/dentists/<%=dentist.id%>/edit"><input class="btn btn-primary" type="submit" value="Edit"  ></a>
            </div>
            <div class="col-6 col-md-4">
                <p>Email: <%= dentist.email %></p>
                <form method="post" action="/dentists/<%=  dentist.id %>">
                    <input id="hidden" type="hidden" name="_method" value="DELETE">
                    <input type="submit" class="btn btn-primary"  value="Delete">
                </form>
            </div>
        </div>
    </div>

